{% extends 'base.html' %}

{% block content %}
    <section class="login-section">
    <div class="login-container shadow-lg">
        <form id="loginForm" method="POST" action="{{ url_for('auth.login') }}">
            <fieldset>
                <legend class="text-center mb-4 fs-4 text-primary">Login to Your Account</legend>

                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", placeholder="Username") }}
                    <div class="invalid-feedback" id="username-error"></div>
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Password") }}
                    <div class="invalid-feedback" id="password-error"></div>
                </div>

                <div class="mb-3">
                    {{ form.role.label(class="form-label") }}
                    {{ form.role(class="form-select") }}
                    <div class="invalid-feedback" id="role-error"></div>
                </div>

                <button type="submit" class="btn btn-primary w-100">Login</button>
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}