.navbar {
  background-color: #3f51b5;
  color: #fff;
}

.navbar .mat-toolbar-row {
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.links a:hover {
  color: #ccc;
}