{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Make a Payment</h2>
    <form action="{{ url_for('payments.make_payment') }}" method="POST">
        <label for="amount">Amount ($)</label>
        <label>
            <input type="text" name="amount" class="form-control" required>
        </label>

        <label for="payment_method">Payment Method</label>
        <label>
            <select name="payment_method" class="form-control">
                <option value="Credit Card">Credit Card</option>
                <option value="PayPal">PayPal</option>
                <option value="Mobile Money">Mobile Money</option>
            </select>
        </label>

        <button type="submit" class="btn btn-success mt-3">Pay Now</button>
    </form>
</div>
{% endblock %}
